button {
  padding: 10px;
  border-radius: 5px;
  border-width: 0;
  background-color: var(--tory-blue-400);
}

.primary {
  background-color: var(--tory-blue-400);
}

.success {
  background-color: var(--salem-400);
}

.danger {
  background-color: var(--tamarillo-400);
}
