/* You can add global styles to this file, and also import other style files */
:root {
  --tory-blue-50: #edf8ff;
  --tory-blue-100: #d6eeff;
  --tory-blue-200: #b5e3ff;
  --tory-blue-300: #83d3ff;
  --tory-blue-400: #49baff;
  --tory-blue-500: #1f97ff;
  --tory-blue-600: #0777ff;
  --tory-blue-700: #015ff4;
  --tory-blue-800: #084bc5;
  --tory-blue-900: #0f4aa9;
  --tory-blue-950: #0e2a5d;

  --salem-50: #effef6;
  --salem-100: #dafeeb;
  --salem-200: #b8fad6;
  --salem-300: #81f4b8;
  --salem-400: #43e590;
  --salem-500: #1acd70;
  --salem-600: #0fa959;
  --salem-700: #108549;
  --salem-800: #12693d;
  --salem-900: #115634;
  --salem-950: #03301b;

  --tamarillo-50: #fff1f1;
  --tamarillo-100: #ffdfdf;
  --tamarillo-200: #ffc5c5;
  --tamarillo-300: #ff9c9c;
  --tamarillo-400: #ff6464;
  --tamarillo-500: #ff3333;
  --tamarillo-600: #ee1414;
  --tamarillo-700: #c80d0d;
  --tamarillo-800: #a90f0f;
  --tamarillo-900: #891313;
  --tamarillo-950: #4b0404;

}
